<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>ATC Translator</title>
  </head>
  <body>
    <div class="mode">
      <label class="toggle" for="dark-mode-btn">
        <div class="toggle-track">
          <input type="checkbox" class="toggle-checkbox" id="dark-mode-btn" />
          <span class="toggle-thumb"></span>
          <img src="static/images/sun.png" alt="" />
          <img src="static/images/moon.png" alt="" />
        </div>
      </label>
    </div>

    <div class="container">
        <form method="POST" id="form-translate">
            <div class="card input-wrapper">
              <div class="from">
                <div class="dropdown-container" id="input-language">
                  <div class="dropdown-toggle">
                      <i class=" fa fa-solid fa-globe"></i>
                      <span class="selected" data-value="auto">Auto Detect</span>
                      <i class="fa fa-solid fa-chevron-down"></i>
                  </div>
                  <ul class="dropdown-menu">
                    <li class="option active">DropDown Menu Item 1</li>
                    <li class="option">DropDown Menu Item 2</li>
                  </ul>
                </div>
              </div>
              <div class="text-area">
                  <textarea id="input-text" name="input-text"  cols="30" rows="18" placeholder="Enter your text here" > </textarea>
                  <div class="chars">
                      <i class="fa fa-volume-up icon"></i>
                      <i class="fa fa-solid fa-copy icon"></i>
                      <i class="fa fa-solid fa-trash icon"></i>
                      <span id="input-chars">0</span> / 5000

                  </div>
              </div>
          </div>
        <div class="center">
          <div class="swap-position">
            <i class="fa fa-exchange" aria-hidden="true"></i>
          </div>
        </div>
        <div class="card output-wrapper">
          <div class="to">
            <div class="dropdown-container" id="output-language">
              <div class="dropdown-toggle">
                <i class="fa fa-solid fa-globe"></i>
                <span class="selected" data-value="en">English</span>
                <i class="fa fa-solid fa-chevron-down"></i>
              </div>
              <ul class="dropdown-menu">
                <li class="option active">DropDown Menu Item 1</li>
                <li class="option">DropDown Menu Item 2</li>
              </ul>
            </div>
          </div>
          <div class="text-area">
              <textarea id="output-text" cols="30" rows="18"  placeholder="Translated text will appear here" disabled ></textarea>
              <div class="chars">
                  <i class="fa fa-volume-up icon"></i>
                  <i class="fa fa-solid fa-copy icon"></i>
              </div>
          </div>
        </div>
        </form>
    </div>

    <script src="static/js/languages.js"></script>
    <script src="static/js/script.js"></script>
  </body>
</html>
